<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= blog.body %>
  </p>

  <p>
  	<strong>Mode:</strong>
  	<%= link_to blog.status, toggle_status_blog_path(blog) %>
  </p>

</div>
