<h1>Pages#contact</h1>
<% phone = "1133434345" %>
<% currency = "122" %>
<% percent = "11.3" %>
<p><%= number_to_phone phone %></p>
<p><%= number_to_currency currency %></p>
<p><%= number_to_percentage percent %></p>
<p><%= number_with_delimiter "788249249234" %></p>
