<h1>Pages#contact</h1>
<p><%= number_to_phone "09788249249" %></p>
<p><%= number_to_currency "123" %></p>
<p><%= number_to_percentage "8249.249" %></p>
<p><%= number_with_delimiter "788249249234" %></p>
