<div class="mt-5">
	<h1>Would you like to work together?</h1>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>Contact</h2>
			</div>
			<div class="col-sm-6">
				<h3>Phone</h3>
				<p><%= number_to_phone "122121212" %></p>
				<h3>Office Address</h3>
				<p>East, Dagon Township.</p>
			</div>
			<div class="col-sm-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7635.6494540286085!2d96.22072953284253!3d16.88456276579064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1926c4d0e863b%3A0xbbd3f952613118b4!2sWard%2013%2C%20Dagon%20Myothit%20East!5e0!3m2!1sen!2smm!4v1653484384046!5m2!1sen!2smm" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</div>
</div>
<!-- <h1>Pages#contact</h1>
<#% phone = "1133434345" %>
<#% currency = "122" %>
<#% percent = "11.3" %>
<p><%#= number_to_phone phone %></p>
<p><%#= number_to_currency currency %></p>
<p><%#= number_to_percentage percent %></p>
<p><%#= number_with_delimiter "788249249234" %></p> -->
