<!-- <h1>Pages#home</h1>

<h1>Hi, <%= current_user.first_name %></h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Blog Posts</h1>
<%#= @posts.inspect %>

<h1>Skills</h1>
<%#= @skills.inspect %>

<hr> -->


    <main class="px-5" style="margin-top: 100px;">
      <h1>Website Design</h1>
      <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      <p class="lead">
        <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-outline-secondary" %>
      </p>
    </main>